$background-color: #ffffff;
$default-font: 14px;
$default-font-large: 15px;
$background-color-pale:  darken($background-color, 10%);
$default-font-color: #414141;
$default-font-color-selected: #1e6cb9;
$default-font-weight: 400;
$default-font-weight-high: 600;