// Variables
@use '../../../common-styles/Variables.scss';

.NavbarWrapper {
    padding-left: 120px;
    padding-right: 120px;

    @media (max-width: 768px) {
        padding-left: 10px;
        padding-right: 10px;
    }

    @media (min-width: 1200px) {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 1140px;
    }
}

.HeaderWrapper {
    height: 45px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    background: Variables.$background-color-pale;
    z-index: 99;
    top: 0px;
    left: 0px;
    padding: 10px 25px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25)); 
}

.HeaderContent {
    display: flex;
    align-items: center;

    @media (max-width: 890px) {
        display: none;
    }
}

.MenuItem {
    cursor: pointer;
    text-align: center;
    font-size: Variables.$default-font-large;
    font-weight:  Variables.$default-font-weight-high;
    color: Variables.$default-font-color;

    :hover {        
        color: Variables.$default-font-color-selected;        
    }

    & + & {
        margin-left: 10px;
    }
}