.GalleryWrapper {
    max-width: 1024px;
    height: auto;
}

.ImageDisplaySection {
    margin: 0 20px 50px 20px;
    min-height: 600px;
    min-width: 1024px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}